@import './variable.scss';


@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}
@media screen and (min-width: 769px) {
  &.mobile {
    display: none;
  }
  .pc5 {
    .hearder {
      color: $top-font-color;
      font-size: 1.4rem;
      font-size: calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      background-color: $menu-bg;
      box-shadow: 0px .3125rem .625rem $shadow-color;
      width: 100%;
      a{
        color: $top-font-color;
      }
      .iconfont{
        font-size: 12px;
        color: $iconfont-color;
      }
      &__container {
        height: 128px;
        width: 100%;
        background-color: $hearder-top-bg;
      }
      &__container-area{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        height: 128px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
          width: 25%;
          display: flex;
          align-items: center;
          .box{
            margin-right: 1.5rem;
          }
          .lang{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            min-width: 3rem;
            
            &:hover{
              .lang-contant, .icon-xiala{
                color: $top-hover-font-color;
              }
              .lang__downlist{
                display: block;
              }
            }
            .lang-contant {
              font-size: 12px;
            }
            .lang__downlist{
              display: none;
              max-height: 164px;
              position: absolute;
              z-index: 999;
              top: 48px;
              left: 0;
              width: 50px;
              padding: 10px 0;
              background: $hearder-top-bg;
              box-shadow: 1px 1px .9375rem 0 $shadow-color;
              border-radius: .25rem;
              white-space: nowrap;
              overflow-x: hidden;
              text-overflow: ellipsis;
              overflow-y: scroll;
              &::-webkit-scrollbar {
                width:5px;
                height:9px;
              }
              &::-webkit-scrollbar-thumb {
                background-color:#ddd;
                background-clip:padding-box;
                min-height:28px;
              }
              &::-webkit-scrollbar-thumb:hover {
                background-color:#bbb;
              }
              a {
                color: $top-font-color;
              }
              &-item{
                line-height: 36px;
                text-align: center;
                &:hover{
                  .lang-link{
                    color: $top-hover-font-color;
                  }
                }
                .lang-link{
                  text-align: center;
                }
              }     
            }
          }
          .login{
            position: relative;
            height: 48px;
            min-width: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            >a{
              font-size: 12px;
              display: flex;
              align-items: center;
              .sline {
                height: 8px;
                width: 1px;
                background:  $top-font-color;
                margin: 0 4px;
              }
            }
            &:hover{
              .login__downlist, .pull-down{
                display: block;
              }
              a {
                color: $top-hover-font-color;
                .sline {
                  background: $top-hover-font-color;
                }
              }
            }
            .pull-down{
              display: none;
              position: absolute;
              top: 42px;
              width: 0;
              height: 0px;
              border-style: solid;
              border-width: 6px;
              border-color: $hearder-top-bg $hearder-top-bg transparent transparent;
              transform: rotate(-45deg);
              box-shadow: 1px -10px 1.4rem $shadow-color;
              z-index: 1000;
            }
            .login__downlist{
              display: none;
              position: absolute;
              top: 48px;
              left: -1.2rem;
              width: 100px;
              background: $hearder-top-bg;
              box-shadow: 1px -1px .9375rem 0 $shadow-color;
              border-radius: .25rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: .625rem 15px;
              z-index: 999;
              //滚动条的设置
              &::-webkit-scrollbar {
                width:5px;
                height:9px;
              }
              &::-webkit-scrollbar-thumb {
                background-color:#ddd;
                background-clip:padding-box;
                min-height:28px;
              }
              &::-webkit-scrollbar-thumb:hover {
                background-color:#bbb;
              }
              a {
                color: $top-font-color;
              }
              .line{
                width: 100%;
                height: 1px;
                background: $separator-line-color;
                margin: 3px 0;
              }
              &-item{
                line-height: 36px;
                text-align: left;
                .login-link{
                  text-align: left;
                  display: flex;
                  align-items: center;
                  &:hover{
                    color: $top-hover-font-color;
                    i{
                      border-color: $icon-border-hover-color;
                    }
                  }
                  &.readonly{
                    &:hover{
                      color: $top-font-color;
                      i{
                        border-color: $icon-border-color;
                      }
                    }
                  }
                  >i{
                    width: 22px;
                    height: 22px;
                    border: 1px solid $icon-border-color;
                    border-radius: 11px;
                    margin-right: .3125rem;
                    display: block;
                    text-align: center;
                    line-height: 22px;
                  }
                }
              }     
            }
          }
        }
        .center {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          .logo {
            max-width: 18.75rem;
            height: 60px;
            img{
              height: 100%;
            }
          }
        }
        .right {
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .cc {
            height: 48px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @include ellipsis;
            text-align: center;
            &:hover {
              i {
                color:$top-hover-font-color;
              }
            }
            i {
              font-size: 14px;
            }
          }
        }
      }
    }
    .subMenu{
      height: 64px;
      width: 100%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid $separator-line-color;
      background-color: $menu-bg;
      font-size: 1.4rem;
      font-size: calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      .menu {
        max-width: 1170px;
        margin: 0 auto;
        height: 64px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        position: relative;
        &-item {
          position: relative;
          min-width: 9.5%;
          min-width: calc((100% - 60px)/10);
          min-width: -moz-calc((100% - 60px)/10);
          min-width: -webkit-calc((100% - 60px)/10);
          display: flex;
          align-items: center;
          &.hide{
            display: none;
          }
          &:hover{
            >a {
              color: $menu-font-hover-color;
            }
            .submenu{
              display: block;
            }
          }
          >a {
            display: inline-block;
            line-height: 64px;
            width: 100%;
            text-align: center;
            @include ellipsis;
            color: $menu-font-color
          }
          .submenu {
            display:none;
            position: absolute;
            z-index: 999;
            top: 65px;
            left:0;
            width: 9.75rem;
            background: $hearder-top-bg;
            border-radius:0 0 .25rem .25rem;
            box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
            border-top: 1px solid $separator-line-color;
            .e_li{
              position: relative;
              &:hover{
                .thr{
                  display: block;
                }
              }
              >a {
                line-height: 50px;
                height: 50px;
                padding-left: 1.25rem;
                width: 100%;
                display: block;
                @include ellipsis;
                color: $menu-font-color;
                &:hover{
                  color: $menu-font-hover-color;
                }
              }
              .thr{
                display: none;
                position: absolute;
                z-index: 999;
                top: -1px;
                right: -9.75rem;
                width: 9.75rem;
                background: $hearder-top-bg;
                border-radius:0 0 .25rem .25rem;
                box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
                border-top: 1px solid $menu-font-hover-color;
                a{
                  line-height: 50px;
                  height: 50px;
                  padding-left: 1.25rem;
                  width: 100%;
                  display: block;
                  @include ellipsis;
                  color: $menu-font-color;
                  &:hover{
                    color: $menu-font-hover-color;
                  }
                }
              }
            }
          }
        }
        .page-down, .page-up{ 
          height: 64px;
          line-height: 64px;
          width: 30px;
          &:hover{
            i {
              color: $menu-font-hover-color;
            }
          }
          a {
            height: 64px;
            line-height: 64px;
            width: 30px;
            display: flex;
          }
          i {
            color: $menu-font-color;
          }
        }
        .page-down {
          display: none;
          a {
            justify-content: flex-start;
          }
        }
        .page-up{
          display: none;
          @include transform(rotate(-180deg));
          a {
            justify-content: flex-end;
          }
        }
      }
      .icons {
        display: flex;
        height: 100%;
        .box{
          display: flex;
          align-items: center;
        }
        .icon {
          width: 22px;
          height: 22px;
          border: 1px  solid $icon-border-color;
          border-radius: 11px;
          margin-left: 1.125rem;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          a{
            color: $iconfont-color;
          }
          &:hover{
            border-color: $icon-border-hover-color;
            color: $top-hover-font-color;
            >a{
              color: $top-hover-font-color;
              &:hover{
                color: $top-hover-font-color;
              }
            }
          }
        }
        .search{
          width:30px;
          text-align: right;
          display: flex;
          justify-content: flex-end;
          cursor: pointer;
          &:hover {
            >.icon-sousuo {
              color:$menu-font-hover-color;
            }
          }
          i {
            color: $menu-font-color;
          }
          .search_input {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            height: 64px;
            background-color: $menu-bg;
            width: 100%;
            display: none;
            >div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              height: 100%;
              .search-btn{
                cursor: pointer;
                border: 0;
                display:block;
                background:transparent;
                width: 30px;
                height: 64px;
                line-height: 64px;
                text-align: left;
                &:focus{
                  border: 0;
                  outline: none;
                  background:transparent;
                }
                &:hover{
                  i {
                    color: $menu-font-hover-color;
                  }
                }
                i {
                  font-size: 16px;
                }
              }
              .icon-guanbi{
                font-size: 16px;
                width: 30px;
                height: 64px;
                line-height: 64px;
                text-align: right;
              }
              .line {
                width: 1px;
                height: 15px;
                background-color: $separator-line-color;
              }
              .input{
                flex:1;
                background:transparent;
                outline: none;
                border: none;
                line-height: 100%;
                height: 100%;
                padding: 0 0.5rem 0 .375rem;
                font-size:100%;
                &::-webkit-input-placeholder{
                  color:$placeholder-color;
                }
                &::-moz-placeholder{
                  color:$placeholder-color;
                }
                &:-moz-placeholder{
                  color:$placeholder-color;
                }
                &:-ms-input-placeholder{
                  color:$placeholder-color;
                }
              }
            }
          }
        }
      }
    }
  }
 
}