@import './variable.scss';


@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}
@media screen and (min-width: 769px) {
  &.mobile {
    display: none;
  }
  .pc7 {
    .hearder {
      color: $primary-font-color;
      font-size: 1rem;
      font-size: calc(1rem + (2 - 1) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1rem + (2 - 1) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1rem + (2 - 1) * ((100vw - 768px)/ (1200 - 800)));
      background-color: $primary-header-bg;
      box-shadow: 0px .3125rem .625rem $primary-shadow;
      position: fixed;
      z-index: 5;
      top: 0px;
      left: 0px;
      width: 100%;
      a{
        color: $primary-font-color;
      }
      .iconfont{
        font-size: 12px;
      }
      &__top {
        background-color: $hearder-top-bg;
        height: 48px;
        width: 100%;
      }
      &__top-area{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        height: 48px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          color: $hearder-top-color;
        }
        .left {
          display: flex;
          align-items: center;
          .box{
            margin-right: 1.5rem;
          }
          .lang{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            min-width: 3rem;
            .icon-xiala {
              color: $hearder-top-color;
            }
            &:hover{
              .lang__downlist{
                display: block;
              }
            }
            .lang-contant {
              font-size: 12px;
            }
            .lang__downlist{
              display: none;
              max-height: 164px;
              position: absolute;
              top: 48px;
              left: 0;
              width: 3.9375rem;
              padding: 10px 0;
              background:$primary-header-bg;
              box-shadow: 1px 1px .9375rem 0 $primary-shadow;
              border-radius: .25rem;
              white-space: nowrap;
              overflow-x: hidden;
              text-overflow: ellipsis;
              overflow-y: scroll;
              z-index: 999;
              a {
                color: $primary-font-color;
              }
              &-item{
                line-height: 36px;
                text-align: center;
                &:hover{
                  .lang-link{
                    color: $active-font-color;
                  }
                }
                .lang-link{
                  text-align: center;
                }
              }     
            }
          }
          .login{
            position: relative;
            height: 48px;
            min-width: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            >a{
              font-size: 12px;
            }
            &:hover{
              .login__downlist, .pull-down{
                display: block;
              }
            }
            .pull-down{
              display: none;
              position: absolute;
              top: 42px;
              width: 0;
              height: 0px;
              border-style: solid;
              border-width: 6px;
              border-color: $primary-header-bg $primary-header-bg transparent transparent;
              transform: rotate(-45deg);
              box-shadow: 1px -1px .0925rem $primary-shadow;
              z-index: 999;
            }
            .login__downlist{
              display: none;
              position: absolute;
              top: 48px;
              left: -1.2rem;
              width: 8.5rem;
              background:$primary-header-bg;
              box-shadow: 1px -1px .9375rem 0 $primary-shadow;
              border-radius: .25rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: .625rem 20px;
              z-index: 999;
              a {
                color: $primary-font-color;
              }
              .line{
                width: 100%;
                height: 1px;
                background: $primary-icon-border-color;
                margin: 3px 0;
              }
              &-item{
                line-height: 36px;
                text-align: left;
                .login-link{
                  text-align: left;
                  display: flex;
                  align-items: center;
                  &:hover{
                    color: $active-font-color;
                    i{
                      border-color: $hover-icon-border-color;
                    }
                  }
                  >i{
                    width: 1.375rem;
                    height: 1.375rem;
                    border: 1px solid $primary-icon-border-color;
                    border-radius: .6875rem;
                    margin-right: .3125rem;
                    display: block;
                    text-align: center;
                    line-height: 1.375rem;
                  }
                }
              }     
            }
          }
        }
        .right {
          display: flex;
          align-items: center;
          font-size: 12px;
          .cc {
            margin-left: 1.5rem;
            max-width: 200px;
            @include ellipsis;
          }
        }
      }
      &__container{
        max-width: 1170px;
        margin: 0 auto;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .logo {
          max-width: 12.5rem;
          height: 40px;
          img{
            height: 100%;
          }
        }
        .menu {
          flex:1;
          height: 100%;
          max-width: 82%;
          min-width: 70%;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content:flex-end;
          padding: 0 15px;
          &-item {
            padding: 0 .5rem;
            position: relative;
            min-width: 12.2%;
            min-width: calc((100%-14px)/8);
            min-width: -moz-calc((100%-14px)/8);
            min-width: -webkit-calc((100%-14px)/8);
            &.hide{
              display: none;
            }
            &:hover{
              .submenu{
                display: block;
              }
            }
            >a {
              display: inline-block;
              line-height: 64px;
              width: 100%;
              text-align: center;
              @include ellipsis;
              color: $primary-font-color;
              &:hover{
                color: $active-font-color;
              }
            }
            &.active {
              >a {
                color: $active-font-color;
              }
            }
            .submenu {
              display:none;
              position: absolute;
              top: 65px;
              left:0;
              width: 9.75rem;
              background: $primary-header-bg;
              border-radius:0 0 .25rem .25rem;
              box-shadow:0 1.25rem 2.5rem .625rem $primary-shadow;
              border-top: 1px solid $active-font-color;
              .e_li{
                position: relative;
                &:hover{
                  >a {
                    color: $hover-font-color;
                  }
                  .thr{
                    display: block;
                  }
                }
                >a {
                  line-height: 50px;
                  height: 50px;
                  padding-left: 1.25rem;
                  width: 100%;
                  display: block;
                  @include ellipsis;
                }
                .thr{
                  display: none;
                  position: absolute;
                  top: -1px;
                  right: -9.75rem;
                  width: 9.75rem;
                  background: $primary-header-bg;
                  border-radius:0 0 .25rem .25rem;
                  box-shadow:0 1.25rem 2.5rem .625rem $primary-shadow;
                  border-top: 1px solid $active-font-color;
                  li:hover{
                    a {
                      color: $hover-font-color;
                    }
                  }
                  a{
                    line-height: 50px;
                    height: 50px;
                    padding-left: 1.25rem;
                    width: 100%;
                    display: block;
                    @include ellipsis;
                  }
                }
              }
            }
          }
          .page-down,  .page-up{ 
            height: 64px;
            line-height: 64px;
          }
          .page-down {
            display: none;
          }
          .page-up{
            display: none;
            @include transform(rotate(-180deg));
          }
        }
        .icons {
          display: flex;
          height: 100%;
          .box{
            display: flex;
            align-items: center;
          }
          .icon {
            width: 20px;
            height: 20px;
            border: 1px  solid $primary-icon-border-color;
            border-radius: 10px;
            margin-left: 1.125rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            a{
              color: $iconfont-color;
            }
            &:hover{
              border-color: $active-icon-border-color;
              color: $active-font-color;
              >a{
                color: $active-font-color;
                &:hover{
                  color: $hover-font-color;
                }
              }
            }
          }
          .search{
            width: 48px;
            text-align: right;
            display: flex;
            justify-content: space-between;
            padding-left: 8px;
            .line {
              height: 15px;
              width: 1px;
              background: $primary-icon-border-color;
            }
            .search_input {
              position: absolute;
              top: 0;
              left: 0;
              height: 64px;
              background-color: $primary-header-bg;
              width: 100%;
              display: none;
              z-index: 999;
              >div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
                .search-btn{
                  cursor: pointer;
                  border: 0;
                  display:block;
                  background:transparent;
                  width: 30px;
                  height: 64px;
                  line-height: 64px;
                  text-align: left;
                  &:focus{
                    border: 0;
                    outline: none;
                    background:transparent;
                  }
                  &:hover{
                    i {
                      color: $active-font-color;
                    }
                  }
                  i {
                    font-size: 16px;
                  }
                }
                .icon-guanbi{
                  font-size: 16px;
                  width: 30px;
                  height: 64px;
                  line-height: 64px;
                  text-align: right;
                }
                .line {
                  width: 1px;
                  height: 15px;
                  background-color: $placeholder-color;
                }
                .input{
                  flex:1;
                  background:transparent;
                  outline: none;
                  border: none;
                  line-height: 100%;
                  height: 100%;
                  padding: 0 0.5rem 0 .375rem;
                  font-size:100%;
                  &::-webkit-input-placeholder{
                    color:$placeholder-color;
                  }
                  &::-moz-placeholder{
                    color:$placeholder-color;
                  }
                  &:-moz-placeholder{
                    color:$placeholder-color;
                  }
                  &:-ms-input-placeholder{
                    color:$placeholder-color;
                  }
                }
              }
            }
          }
          .lang{
            position: relative;
            &:hover{
              .lang__downlist{
                display: block;
              }
            }
            .lang-contant {
              font-size: 12px;
            }
            .lang__downlist{
              display: none;
              max-height: 164px;
              position: absolute;
              top: 54px;
              left: 0;
              width: 3.9375rem;
              padding: 10px 0;
              background:$primary-header-bg;
              box-shadow: 1px 1px .9375rem 0 $primary-shadow;
              border-radius: .25rem;
              white-space: nowrap;
              overflow-x: hidden;
              text-overflow: ellipsis;
              overflow-y: scroll;
              &-item{
                line-height: 36px;
                text-align: center;
                &:hover{
                  .lang-link{
                    color: $active-font-color;
                  }
                }
                .lang-link{
                  text-align: center;
                }
              }     
            }
          }
          .login{
            position: relative;
            &:hover{
              .login__downlist, .pull-down{
                display: block;
              }
            }
            .pull-down{
              display: none;
              position: absolute;
              top: 31px;
              right: 0.62rem;
              right: calc(8.5rem/2 - 3.6rem - 4px);
              right: -moz-calc(8.5rem/2 - 3.6rem - 4px);
              right: -webkit-calc(8.5rem/2 - 3.6rem - 4px);
              width: 0;
              height: 0px;
              border-style: solid;
              border-width: 6px;
              border-color: $primary-header-bg $primary-header-bg transparent transparent;
              transform: rotate(-45deg);
              box-shadow: 1px -1px .0925rem $primary-shadow;
              z-index: 999;
            }
            .login__downlist{
              display: none;
              position: absolute;
              top: 36px;
              right: -1.6rem;
              width: 8.5rem;
              background:$primary-header-bg;
              box-shadow: 1px -1px .9375rem 0 $primary-shadow;
              border-radius: .25rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: .625rem 20px;
              .line{
                width: 100%;
                height: 1px;
                background: $placeholder-color;
                margin: 3px 0;
              }
              &-item{
                line-height: 36px;
                text-align: left;
                .login-link{
                  text-align: left;
                  display: flex;
                  align-items: center;
                  &:hover{
                    color: $active-font-color;
                    i{
                      border-color: $hover-icon-border-color;
                    }
                  }
                  >i{
                    width: 1.375rem;
                    height: 1.375rem;
                    border: 1px solid $primary-icon-border-color;
                    border-radius: .6875rem;
                    margin-right: .3125rem;
                    display: block;
                    text-align: center;
                    line-height: 1.375rem;
                  }
                }
              }     
            }
          }
        }
      }
    }
  }
 
}