@import './variable.scss';
@import '../../../scss/mixin/index.scss';

@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}
@media screen and (min-width: 769px) {
  &.mobile {
    display: none;
  }
  .pc8 {
    .hearder {
      color: $top-font-color;
      font-size: 1.4rem;
      font-size: calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      background-color: $hearder-top-bg;
      box-shadow: 0px .3125rem .625rem $shadow-color;
      width: 100%;
      a{
        color: $top-font-color;
      }
      .iconfont{
        font-size: 12px;
        color: $iconfont-color;
      }
      &__container{
        background-color: $hearder-top-bg;
        height: 48px;
        border-bottom: 1px solid $separator-line-color;
      }
      &__container-area{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        height: 48px;
        width: 100%;
        @include flex();
        @include flex-pack-end();
        @include flex-align-center();
        .right {
          @include flex();
          @include flex-align-center();
          .box{
            margin-left: 1.5rem;
          }
          .lang{
            position: relative;
            @include flex();
            @include flex-align-center();
            @include flex-pack-end();
            height: 48px;
            min-width: 3rem;
            &:hover{
              .lang__downlist{
                display: block;
              }
              .lang-contant, .icon-xiala{
                color: $top-hover-font-color;
              }
            }
            .lang-contant {
              font-size: 12px;
            }
            .lang__downlist{
              display: none;
              max-height: 164px;
              position: absolute;
              top: 48px;
              left: 0;
              width: 50px;
              padding: 10px 0;
              background:$hearder-top-bg;
              box-shadow: 1px 1px .9375rem 0 $shadow-color;
              border-radius: .25rem;
              @include ellipsis;
              overflow-y: scroll;
              z-index: 999;
              &::-webkit-scrollbar {
                width:5px;
                height:9px;
              }
              &::-webkit-scrollbar-thumb {
                background-color:#ddd;
                background-clip:padding-box;
                min-height:28px;
              }
              &::-webkit-scrollbar-thumb:hover {
                background-color:#bbb;
              }
              a {
                color: $top-font-color;
              }
              &-item{
                line-height: 36px;
                text-align: center;
                &:hover{
                  .lang-link{
                    color: $top-hover-font-color;
                  }
                }
                .lang-link{
                  text-align: center;
                }
              }     
            }
          }
          .login{
            position: relative;
            height: 48px;
            min-width: 3rem;
            @include flex();
            @include flex-align-center();
            @include flex-pack-center();
            >a{
              font-size: 12px;
              @include flex();
              @include flex-align-center();
              .sline {
                height: 8px;
                width: 1px;
                background:  $top-font-color;
                margin: 0 4px;
              }
            }
            &:hover{
              .login__downlist, .pull-down{
                display: block;
              }
              a {
                color: $top-hover-font-color;
                .sline {
                  background: $top-hover-font-color;
                }
              }
            }
            .pull-down{
              display: none;
              position: absolute;
              top: 42px;
              width: 0;
              height: 0px;
              border-style: solid;
              border-width: 6px;
              border-color: $hearder-top-bg $hearder-top-bg transparent transparent;
              transform: rotate(-45deg);
              box-shadow: 1px -10px 1.4rem $shadow-color;
              z-index: 1000;
            }
            .login__downlist{
              display: none;
              position: absolute;
              top: 48px;
              left: -1.2rem;
              width: 100px;
              background:$hearder-top-bg;
              box-shadow: 1px -1px .9375rem 0 $shadow-color;
              border-radius: .25rem;
              @include ellipsis;
              padding: .625rem 15px;
              z-index: 999;
              //滚动条的设置
              &::-webkit-scrollbar {
                width:5px;
                height:9px;
              }
              &::-webkit-scrollbar-thumb {
                background-color:#ddd;
                background-clip:padding-box;
                min-height:28px;
              }
              &::-webkit-scrollbar-thumb:hover {
                background-color:#bbb;
              }
              a {
                color: $top-font-color;
              }
              .line{
                width: 100%;
                height: 1px;
                background: $separator-line-color;
                margin: 3px 0;
              }
              &-item{
                line-height: 36px;
                text-align: left;
                .login-link{
                  text-align: left;
                  @include flex();
                  @include flex-align-center();
                  &:hover{
                    color: $top-hover-font-color;
                    i{
                      border-color: $icon-border-hover-color;
                    }
                  }
                  &.readonly{
                    &:hover{
                      color: $top-font-color;
                      i{
                        border-color: $icon-border-color;
                      }
                    }
                  }
                  >i{
                    width: 22px;
                    height: 22px;
                    border: 1px solid $icon-border-color;
                    border-radius: 11px;
                    margin-right: .3125rem;
                    display: block;
                    text-align: center;
                    line-height: 22px;
                  }
                }
              }     
            }
          }
        }
      }
    }
    .subMenu{
      width: 100%;
      z-index: 1;
      background-color: $menu-bg;
      font-size: 1.4rem;
      font-size: calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      height: 144px;
      box-shadow: 0px .3125rem .625rem $shadow-color;
      .logo {
        position: absolute;
        z-index: 999;
        bottom: -16px;
        left: 0;
        height: 114px;
        width: 253px;
        background: $logo-bg;
        @include flex();
        @include flex-align-center();
        @include flex-pack-center();
        a {
          @include flex();
          @include flex-align-center();
          @include flex-pack-center();
          width: 100%;
        }
        img{
          height: 50px;
          max-width: 180px;
        }
      }
      .menu {
        @include flex();
        @include flex-align-center();
        position: relative;
        @include flex-pack-end();
        max-width: 1170px;
        margin: 0 auto;
        height: 144px;
        padding-left: 253px;
        padding-top: 30px;
        &-item {
          padding: 0 .5rem;
          position: relative;
          min-width: 8%;
          min-width: calc((100% - 80px)/8);
          min-width: -moz-calc((100% - 80px)/8);
          min-width: -webkit-calc((100% - 80px)/8);
          @include flex();
          @include flex-align-center();
          &.hide{
            display: none;
          }
          &:hover{
            .submenu{
              display: block;
            }
          }
          >a {
            display: inline-block;
            line-height: 64px;
            width: 100%;
            text-align: center;
            @include ellipsis;
            color: $menu-font-color;
            &:hover{
              color: $menu-font-hover-color;
            }
          }
          &.active {
            >a {
              color: $menu-font-hover-color;
            }
          }
          .submenu {
            display:none;
            position: absolute;
            z-index: 999;
            top: 65px;
            left:0;
            width: 9.75rem;
            background: $hearder-top-bg;
            border-radius:0 0 .25rem .25rem;
            box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
            border-top: 1px solid $menu-font-hover-color;
            .e_li{
              position: relative;
              &:hover{
                .thr{
                  display: block;
                }
              }
              >a {
                line-height: 50px;
                height: 50px;
                padding-left: 1.25rem;
                width: 100%;
                display: block;
                @include ellipsis;
                color: $menu-font-color;
                &:hover{
                  color: $menu-font-hover-color;
                }
              }
              .thr{
                display: none;
                position: absolute;
                z-index: 999;
                top: -1px;
                right: -9.75rem;
                width: 9.75rem;
                background: $hearder-top-bg;
                border-radius:0 0 .25rem .25rem;
                box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
                border-top: 1px solid $menu-font-hover-color;
                a{
                  line-height: 50px;
                  height: 50px;
                  padding-left: 1.25rem;
                  width: 100%;
                  display: block;
                  @include ellipsis;
                  color: $menu-font-color;
                  &:hover{
                    color: $menu-font-hover-color;
                  }
                }
              }
            }
          }
        }
        .page-down,  .page-up{ 
          height: 64px;
          line-height: 64px;
          padding-right: 15px;
          a{
            color: $menu-font-color;
          }
          &:hover{
            i {
              color: $menu-font-hover-color;
            }
          }
        }
        .page-down {
          display: none;
        }
        .page-up{
          display: none;
          @include transform(rotate(-180deg));
        }
      }
      .icons {
        @include flex();
        height: 100%;
        .box{
          @include flex();
          @include flex-align-center();
        }
        .icon {
          width: 22px;
          height: 22px;
          border: 1px  solid $icon-border-color;
          border-radius: 11px;
          margin-left: 1.125rem;
          text-align: center;
          @include flex();
          @include flex-align-center();
          @include flex-pack-center();
          cursor: pointer;
          a{
            color: $iconfont-color;
          }
          &:hover{
            border-color: $icon-border-hover-color;
            color: $top-hover-font-color;
            >a{
              color: $top-hover-font-color;
              &:hover{
                color: $top-hover-font-color;
              }
            }
          }
        }
        .search{
          position: relative;
          width: 48px;
          text-align: right;
          @include flex();
          @include flex-pack-justify();
          padding-left: 8px;
          &:hover{
            >i{
              color:$menu-font-hover-color;
            }
          }
          .line {
            height: 15px;
            width: 1px;
            background: $separator-line-color;
          }
          .search_input {
            position: absolute;
            z-index: 999;
            bottom: -52px;
            right: -7px;
            height: 52px;
            margin-left: 0;
            background-color: $hearder-top-bg;
            width: 243px;
            @include flex();
            @include flex-align-center();
            border-style: solid;
            border-color: $search-border-color;
            border-right-width: 12px;
            border-left-width: 12px;
            border-top-width: 8px;
            border-bottom-width: 8px;
            padding-left: .5rem;
            display: none;
            .input{
              background:transparent;
              outline: none;
              border: none;
              line-height: 100%;
              height: 100%;
              padding: 0 0.5rem 0 .375rem;
              width: 100%;
            }
          }
        }
      }
    }
  }
 
}