// font-color
$top-font-color: #767881;  // 顶部字体色
$top-hover-font-color: #e4493a; // 顶部hover字体色
$menu-font-color:#767881; ; //导航栏字体色
$menu-font-hover-color:#e4493a;; //导航栏字体hover色
$iconfont-color: #a1a1a1; // 图标字体色

// bg-color
$menu-bg: #ffffff; // 头部整体背景色
$hearder-top-bg:#ffffff; // 顶部背景色

// border-color
$icon-border-color: #bfbfbf;
$icon-border-hover-color: #e4493a;

// shadow-color
$shadow-color: rgba($color: #000000, $alpha: 0.09);

// other
$separator-line-color:#eaeaea; // 分割线颜色
$placeholder-color:#BFBFBF; // input提示语颜色
$logo-bg:#E4493A;
$search-border-color:#E4493A;