
@import './variable.scss';

@for $i from 1 to 15 {
  .mobile>.m_nav>.ul>li:nth-child(#{$i}) {
      -webkit-transition: all 0.2s*($i) cubic-bezier(.77, 0, .175, 1) 0ms;
      transition: all 0.2s*($i) cubic-bezier(.77, 0, .175, 1) 0ms;
  }
}
@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  html {
    overflow: hidden;
  }
  body{
    overflow: hidden;
    cursor: pointer;
  }
  .pc {
    display: none;
  }
  .mobile {
    color: $primary-font-color;
    margin: 0 auto;
    height: 100%;
    &.open{
      .container {
        transform: translate3d(260px,0,0);
        -webkit-transform: translate3d(260px,0,0);
        .header{
          .navToggle {
            .lcbody{
              transform: translateZ(0px) rotate(90deg);
              -webkit-transform: translateZ(0px) rotate(90deg);
              .lcitem {
                transform: translateZ(0px) rotate(45deg);
                transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.2s;
                -webkit-transform: translateZ(0px) rotate(45deg);
                -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.2s;
                &.bottom{
                  transform: translateZ(0px) rotate(-45deg);
                  -webkit-transform: translateZ(0px) rotate(-45deg);
                }
                .rect {
                  transition: transform 0.2s ease 0s;
                  transform: translate3d(0px, 0px, 0px);
                  -webkit-transition: -webkit-transform 0.2s ease 0s;
                  -webkit-transform: translate3d(0px, 0px, 0px);
                  &.bottom {
                    transform: translate3d(0px, -1px, 0px);
                    -webkit-transform: translate3d(0px, -1px, 0px);
                  }
                  &.top {
                    transform: translate3d(0px, -1px, 0px);
                    -webkit-transform: translate3d(0px, -1px, 0px);
                  }
                }
              }
            }
          }
        }
      }
    }
    .container {
      z-index: 1000;
      position: relative;
      height: 100%;
      box-shadow: 0 .9375rem 1.5rem $primary-shadow;
      width: 100%;
      transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      .header {
        a{
          color: $primary-m-font-color;
          &:hover {
            color: $active-m-font-color;
            text-decoration: none;
          }
          &:focus{
            color: $active-m-font-color;
            text-decoration: none;
          }
        }
        padding: 0 .625rem;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $primary-mobile-header-bg;
        box-shadow: 0 .3125rem .625rem $primary-mobile-shadow;
        position: relative;
        .navToggle{
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          // .icon-guanbi{
          //   display: none;
          // }
          .lcbody{
            width: 20px;
            height: 20px;
            position: relative;
            transform: translateZ(0px) rotate(0deg);
            transition: transform 0.4s cubic-bezier(0.4, 0.01, .165, 0.99);
            .lcitem {
              position: absolute;
              left: 0;
              top: 0;
              transform: translateZ(0px) rotate(0deg);
              transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s;
              -webkit-transform: translateZ(0px) rotate(0deg);
              -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s;
              width: 20px;
              height: 20px;
              .rect{
                width: 20px;
                height: 1px;
                background: #999999;
                position: absolute;
                left: 0;
                top: 10px;
                transition: transform 0.2s ease 0.2s;
                -webkit-transition: -webkit-transform 0.2s ease 0.2s;
                &.top {
                  transform: translate3d(0px, -6px, 0px);
                  -webkit-transform: translate3d(0px, -6px, 0px);
                }
                &.bottom{
                  transform: translate3d(0px, 6px, 0px);
                  -webkit-transform: translate3d(0px, 6px, 0px);
                }
              }
            }
          }

        }
        .logo{
          height: 30px;
          max-width: 150px;
          img{
            height: 100%;
            max-width: 100%;
            display: block;
          }
        }
        .search{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          .search-btn{
            border: 0;
            display:block;
            background:transparent;
            &:focus{
              border: 0;
              outline: none;
              background:transparent;
            }
            i{
              font-size: 1.25rem;
            }
          }
          .search_bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            background-color: $primary-mobile-search-bg;
            display: none;
            .input{
              background: transparent;
              border: none;
              outline: none;
              height: 100%;
              width: 100%;
              padding-left: 2rem;
              font-size: 14px;
              &::-webkit-input-placeholder{
                color:$placeholder-mobile-color;
              }
              &::-moz-placeholder{
                color:$placeholder-mobile-color;
              }
              &:-moz-placeholder{
                color:$placeholder-mobile-color;
              }
              &:-ms-input-placeholder{
                color:$placeholder-mobile-color;
              }
            }
            .guanbi{
              font-size: 1.25rem;
              width: 50px;
              height: 50px;
              position: absolute;
              right: 0;
              top: 0;
              display: flex;
              align-items: center;
              justify-content: center
            }
          }
        }
      }
    }
    .m_nav{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background: $primary-mobile-nav-bg;
      opacity: 1;
      visibility: visible;
      margin-top: 0;
      display: none;
      a{
        color: $primary-m-font-color;
        &:hover {
          color: $active-m-font-color;
          text-decoration: none;
        }
        &:focus{
          color: $active-m-font-color;
          text-decoration: none;
        }
      }
      &.open{
        width:260px;
        display: block !important;
      }
      .top{
        .lang{
          margin-bottom: 2rem;
          padding: 0 1.5rem;
          display: flex;
          height: 50px;
          justify-content: space-between;
          align-items: center;
          font-size: 12px;
          .lang-select {
            display: none;
            z-index: 999;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 0 1.5rem;
            background: $primary-mobile-nav-bg;
            .lang-show2{
              display: flex;
              height: 50px;
              justify-content: space-between;
              align-items: center;
            }
            .line {
              height: 1px;
              width: 100%;
              border-bottom: 1px solid $primary-mobile-border;
            }
            .lang__downlist{
              height: 100%;
              width: 100%;
              height: calc(100% - 5.5rem);
              padding: 1rem 0;
              overflow: scroll;
              z-index: 999;
              &-item{
                line-height: 2.125rem;
                text-align: center;
                @include ellipsis;
                &:hover{
                  background-color: $hover-mobile-navitem-bg;
                }
                .lang-link{
                  text-align: center;
                }
              }
            }
          }
          
        }
        .user{
          height: 4.375rem;
          padding: 0 2.875rem;
          display: flex;
          .user-avatar{
            width: 4.375rem;
            height: 4.375rem;
            border-radius: 2.1875rem;
            overflow: hidden;
            margin-right: 1.5rem;
            img{
              display: block;
              width: 100%;
              height: 100%;
            }
          }
          .user-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            overflow: hidden;
            font-size: 18px;
            .name{
              @include ellipsis;
               color: $user-m-name-color;
            }
            .info{
              margin-top: .6rem;
              display: flex;
              align-items: center;
              li{
                display: flex;
                margin-right: 10px;
                align-items: center;
                font-size: 12px;
                color: $user-m-info-color;
                .iconfont{
                  color: $user-m-info-color;
                }
              }
            }
          }
        }
      }
      .menu {
        margin: 2.875rem 0;
        overflow-y:scroll;
        height: calc(100% - 14rem);
        .menu-item{
          a{
            padding: 0 2rem 0 2.5rem;
            height: 3.125rem;
            line-height: 3.125rem;
            display: block;
            cursor: pointer;
            @include ellipsis;
          }
          >a{
            position: relative;
            .more{
              @include transform(rotate(-90deg));
            }
            &.current {
              background:$hover-mobile-navitem-bg;
              color:$active-m-font-color;
              .more{
                @include transform(rotate(180deg));
              }
            } 
            .more {
              position: absolute;
              top: 0;
              bottom: 0;
              right: 2rem;
            }
          }
          .submenu {
            display: none;
            .e_li {
              a{
                display: block;
                padding-left: 3.5rem;
                background: $hover-mobile-navitem-bg;
                position: relative;
                color: $active-m-font-color;
                .more1{
                  @include transform(rotate(-90deg));
                }
                &:hover{
                  background: $hover-mobile-sub-navitem-bg;
                }
                &.sub-current{
                  background: $hover-mobile-sub-navitem-bg;
                  .more1{
                    @include transform(rotate(180deg));
                  }
                }
                .more1{
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: 2rem;
                }
              }
              .thr {
                background: $hover-mobile-thr-navitem-bg;
                display: none;
                li {
                  position: relative;
                  a {
                    background: none;
                    padding-left: 4.5rem;
                    color: $active-m-font-color;
                    &:hover {
                      background: $hover-mobile-thr-navitem-bg;
                    }
                    &.xuan {
                      background: $hover-mobile-thr-navitem-bg;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }
}