@import './variable.scss';


@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}
@media screen and (min-width: 769px) {
  &.mobile {
    display: none;
  }
  .pc2 {
    a{
      color: $top-font-color;
    }
    .iconfont{
      font-size: 14px;
    }
    .hearder {
      color: $top-font-color;
      font-size: 1.4rem;
      font-size: calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      background-color: $menu-bg;
      z-index: 5;
      width: 100%;
      &__container{
        max-width: 1170px;
        margin: 0 auto;
        height: 256px;
        display: flex;
        flex-direction: column;
        background: $hearder-top-bg;
        color: $top-font-color;
        .logo {
          display: flex;
          justify-content: center;
          width: 100%;
          align-items: center;
          height: 192px;
          border-bottom: 1px solid $nav-menu-top-line-color;
          .img{
            max-width: 25rem;
            height: 80px;
            img{
              // width: 100%;
              height: 100%;
              display: block;
            }
          }
        }
        .icons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 64px;
          width: 100%;
          &__left, &__right {
            .icon {
              width: 22px;
              height: 22px;
              border: 1px  solid $icon-border-color;
              border-radius: 11px;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              >a{
                color: $iconfont-color;
              }
              >i {
                color: $iconfont-color;
              }
              &:hover{
                border-color: $icon-border-hover-color;
                color: $top-hover-font-color;
                >a{
                  color: $top-hover-font-color;
                  &:hover{
                    color: $top-hover-font-color;
                  }
                }
              }
            }
          }
          &__left {
            display: flex;
            align-items: center;
            .box{
              display: flex;
              align-items: center;
              height: 64px;
              .icon-xiala {
                color: $iconfont-color;
              }
              &:hover{
                .login__downlist, .pull-down{
                  display: block;
                }
                .icon-xiala {
                  color: $top-hover-font-color;
                }
                .login{
                  border-color: $icon-border-hover-color;
                  >a{
                    color: $top-hover-font-color;
                  }
                }
              }
            }
            .login{
              position: relative;
              .icon-xiala {
                margin-left: 5px;
              }
              .pull-down{
                display: none;
                position: absolute;
                top: 31px;
                right: 0.62rem;
                right: calc(8.5rem/2 - 3.6rem - 4px);
                right: -moz-calc(8.5rem/2 - 3.6rem - 4px);
                right: -webkit-calc(8.5rem/2 - 3.6rem - 4px);
                width: 0;
                height: 0px;
                border-style: solid;
                border-width: 6px;
                border-color: $menu-bg $menu-bg transparent transparent;
                transform: rotate(-45deg);
                box-shadow: 1px -1px .0925rem $shadow-color;
                z-index: 1000;
              }
              .login__downlist{
                display: none;
                position: absolute;
                z-index: 999;
                top: 36px;
                left: -1.6rem;
                width: 100px;
                background:$menu-bg;
                box-shadow: 1px -1px .9375rem 0 $shadow-color;
                border-radius: .25rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: .625rem 15px;
                .line{
                  width: 100%;
                  height: 1px;
                  background: $separator-line-color;
                  margin: 3px 0;
                }
                &-item{
                  line-height: 36px;
                  text-align: left;
                  .login-link{
                    text-align: left;
                    display: flex;
                    align-items: center;
                    color: $top-font-color;
                    &:hover{
                      color: $top-hover-font-color;
                      i{
                        border-color: $icon-border-hover-color;
                      }
                    }
                    &.readonly{
                      &:hover{
                        color: $top-font-color;
                        i{
                          border-color: $icon-border-color;
                        }
                      }
                    }
                    >i{
                      width: 22px;
                      height: 22px;
                      border: 1px solid $icon-border-color;
                      border-radius: 11px;
                      margin-right: .3125rem;
                      display: block;
                      text-align: center;
                      line-height: 22px;
                    }
                  }
                }     
              }
            }
          }
          &__right {
            display: flex;
            align-items: center;
            .box{
              display: flex;
              align-items: center;
              height: 64px;
            }
            .search{
              position: relative;
              >i{
                color: $iconfont-color;
              }
              .search_input {
                position: absolute;
                z-index: 999;
                top: 22px;
                bottom: 0;
                right: 0;
                height: 20px;
                margin-left: 0;
                background-color: $hearder-top-bg;
                width: 12.625rem;
                display: flex;
                align-items: center;
                border-bottom: 1px  solid $icon-border-color;
                display: none;
                .input{
                  background-color: $hearder-top-bg;
                  outline: none;
                  border: none;
                  line-height: 100%;
                  height: 100%;
                  padding: 0 .375rem;
                  width: 100%;
                }
                .search-btn{
                  position: absolute;
                  z-index: 999;
                  top: 3px;
                  left: -19px;
                  cursor: pointer;
                  width: 20px;
                  line-height: 20px;
                  border: 0;
                  display:block;
                  background:transparent;
                  i {
                    color: $iconfont-color;
                  }
                  &:focus{
                    border: 0;
                    outline: none;
                    background:transparent;
                  }
                  &:hover{
                    i {
                      color: $top-hover-font-color;
                    }
                  }
                } 
              }
            }
            .lang.box{
              position: relative;
              margin-left: 5rem;
              display: flex;
              &:hover{
                .lang__downlist{
                  display: block;
                }
                .icon-xiala, .lang-contant{
                  color: $top-hover-font-color;
                } 
              }
              .lang {
                display: flex;
                color: $iconfont-color;
                >a {
                  color: $iconfont-color;
                }
              }
              .lang-contant {
                font-size: 12px;
              }
              .icon-xiala{
                margin-left: 5px;
              }
              .lang__downlist{
                display: none;
                max-height: 164px;
                position: absolute;
                z-index: 999;
                top: 54px;
                right: 0;
                width: 50px;
                padding: 10px 0;
                background:$menu-bg;
                box-shadow: 1px 1px .9375rem 0 $shadow-color;
                border-radius: .25rem;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                  width:5px;
                  height:9px;
                }
                &::-webkit-scrollbar-thumb {
                  background-color:#ddd;
                  background-clip:padding-box;
                  min-height:28px;
                }
                &::-webkit-scrollbar-thumb:hover {
                  background-color:#bbb;
                }
                &-item{
                  line-height: 36px;
                  text-align: center;
                  &:hover{
                    .lang-link{
                      color: $top-hover-font-color;
                    }
                  }
                  .lang-link{
                    text-align: center;
                  }
                }     
              }
            }
          }
        }
      }
    }
    .subMenu {
      height: 64px;
      z-index: 1000;
      width: 100%;
      background: $menu-bg;
      font-size: 1.4rem;
      font-size: calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      .inner {
        padding:0;
        margin: 0 auto;
      }
    }
    .menu {
      max-width: 1170px;
      margin: 0 auto;
      height: 64px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content:center;
      width: 100%;
      box-shadow: 0px .3125rem .625rem -.3125rem $shadow-color;
      &-item {
        padding: 0 .5rem;
        position: relative;
        min-width: 9.5%;
        min-width: calc((100% - 14px - 1rem)/10);
        min-width: -moz-calc((100% - 14px - 1rem)/10);
        min-width: -webkit-calc((100% - 14px - 1rem)/10);
        max-width: 10%;
        display: flex;
        align-items: center;
        &.hide{
          display: none;
        }
        &:hover{
          .submenu{
            display: block;
          }
        }
        >a {
          display: inline-block;
          line-height: 64px;
          width: 100%;
          text-align: center;
          @include ellipsis;
          color: $menu-font-color;
          &:hover{
            color: $menu-font-hover-color;
          }
        }
        &.active {
          >a {
            color: $menu-font-hover-color;
          }
        }
        .submenu {
          display:none;
          position: absolute;
          z-index: 999;
          top: 65px;
          left:0;
          width: 9.75rem;
          background: $menu-bg;
          border-radius:0 0 .25rem .25rem;
          box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
          border-top: 1px solid $menu-font-hover-color;
          .e_li{
            position: relative;
            &:hover{
              >a {
                color: $menu-font-hover-color;
              }
              .thr{
                display: block;
              }
            }
            >a {
              line-height: 50px;
              height: 50px;
              padding-left: 1.25rem;
              width: 100%;
              display: block;
              @include ellipsis;
              color: $menu-font-color;
            }
            .thr{
              display: none;
              position: absolute;
              top: -1px;
              z-index: 999;
              right: -9.75rem;
              width: 9.75rem;
              background: $menu-bg;
              border-radius:0 0 .25rem .25rem;
              box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
              border-top: 1px solid $menu-font-hover-color;
              li:hover{
                a {
                  color: $menu-font-hover-color;
                }
              }
              a{
                line-height: 50px;
                height: 50px;
                padding-left: 1.25rem;
                width: 100%;
                display: block;
                @include ellipsis;
                color: $menu-font-color;
              }
            }
          }
        }
      }
      .page-down {
        display: none;
      }
      .page-up{
        display: none;
        @include transform(rotate(-180deg));
      }
      .page-up,.page-down {
        i {
          color: $menu-font-color;
        } 
      }
    }
  }
}