@import './variable.scss';


@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}
@media screen and (min-width: 769px) {
  &.mobile {
    display: none;
  }
  .pc4 {
    .hearder {
      color: $top-font-color;
      font-size: 1.4rem;
      font-size: calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      background-color: $menu-bg;
      box-shadow: 0px .3125rem .625rem $shadow-color;
      width: 100%;
      a{
        color: $top-font-color;
      }
      .iconfont{
        font-size: 12px;
      }
      &__container {
        background-color: $hearder-top-bg;
        height: 48px;
        width: 100%;
      }
      &__container-area{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        height: 48px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          color: $top-font-color;
        }
        .left {
          display: flex;
          align-items: center;
          .box{
            margin-right: 1.5rem;
          }
          .lang{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            min-width: 3rem;
            .icon-xiala {
              color: $top-font-color;
            }
            &:hover{
              .lang__downlist{
                display: block;
              }
            }
            .lang-contant {
              font-size: 12px;
            }
            .lang__downlist{
              display: none;
              max-height: 164px;
              position: absolute;
              z-index: 999;
              top: 48px;
              left: 0;
              width: 50px;
              padding: 10px 0;
              background:$menu-bg;
              box-shadow: 1px 1px .9375rem 0 $shadow-color;
              border-radius: .25rem;
              white-space: nowrap;
              overflow-x: hidden;
              text-overflow: ellipsis;
              overflow-y: scroll;
              z-index: 999;
              &::-webkit-scrollbar {
                width:5px;
                height:9px;
              }
              &::-webkit-scrollbar-thumb {
                background-color:#ddd;
                background-clip:padding-box;
                min-height:28px;
              }
              &::-webkit-scrollbar-thumb:hover {
                background-color:#bbb;
              }
              a {
                color: $top-font-color;
              }
              &-item{
                line-height: 36px;
                text-align: center;
                &:hover{
                  .lang-link{
                    color: $menu-font-hover-color;
                  }
                }
                .lang-link{
                  text-align: center;
                }
              }     
            }
          }
          .login{
            position: relative;
            height: 48px;
            min-width: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            >a{
              font-size: 12px;
              display: flex;
              align-items: center;
              .sline {
                height: 8px;
                width: 1px;
                background:  $top-font-color;
                margin: 0 4px;
              }
            }
            &:hover{
              .login__downlist, .pull-down{
                display: block;
              }
            }
            .pull-down{
              display: none;
              position: absolute;
              top: 42px;
              width: 0;
              height: 0px;
              border-style: solid;
              border-width: 6px;
              border-color: $menu-bg $menu-bg transparent transparent;
              transform: rotate(-45deg);
              box-shadow: 1px -1px .0925rem $shadow-color;
              z-index: 1000;
            }
            .login__downlist{
              display: none;
              position: absolute;
              z-index: 999;
              top: 48px;
              left: -1.2rem;
              width: 100px;
              background:$menu-bg;
              box-shadow: 1px -1px .9375rem 0 $shadow-color;
              border-radius: .25rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: .625rem 15px;
              //滚动条的设置
              &::-webkit-scrollbar {
                width:5px;
                height:9px;
              }
              &::-webkit-scrollbar-thumb {
                background-color:#ddd;
                background-clip:padding-box;
                min-height:28px;
              }
              &::-webkit-scrollbar-thumb:hover {
                background-color:#bbb;
              }
              a {
                color: $menu-font-color;
              }
              .line{
                width: 100%;
                height: 1px;
                background: $separator-line-color;
                margin: 3px 0;
              }
              &-item{
                line-height: 36px;
                text-align: left;
                .login-link{
                  text-align: left;
                  display: flex;
                  align-items: center;
                  &:hover{
                    color: $menu-font-hover-color;
                    i{
                      border-color: $icon-border-hover-color;
                    }
                  }
                  &.readonly{
                    &:hover{
                      color: $menu-font-color;
                      i{
                        border-color: $icon-border-color;
                      }
                    }
                  }
                  >i{
                    width: 22px;
                    height: 22px;
                    border: 1px solid $icon-border-color;
                    border-radius: 11px;
                    margin-right: .3125rem;
                    display: block;
                    text-align: center;
                    line-height: 22px;
                  }
                }
              }     
            }
          }
        }
        .right {
          display: flex;
          align-items: center;
          font-size: 12px;
          line-height: 30px;
          .cc {
            margin-left: 1.5rem;
            max-width: 200px;
            @include ellipsis;
            a {
              display: flex;
              align-items: center;
              i {
                padding-right: 3px;
                font-size: 14px;
                &.icon-dianhua1 {
                  font-size: 12px;
                }
              }
              span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            
          }
        }
      }
    }
    .subMenu{
      height: 64px;
      width: 100%;
      z-index: 1;
      font-size: 1.4rem;
      font-size: calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      background: $menu-bg;
      .inner {
        padding:0;
        margin: 0 auto;
      }
      .logo {
        max-width: 200px;
        height: 40px;
        // position: absolute;
        // top: 6px;
        // left: 0;
        img{
          height: 100%;
        }
      }
      .menu {
        // position: relative;
        max-width: 1170px;
        margin: 0 auto;
        height: 64px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        .nav {
          flex: 1;
          >ul{
            display: flex;
            align-items: center;
            justify-content:flex-end;
          }
        }
        &-item {
          padding: 0 .5rem;
          position: relative;
          min-width: 8%;
          min-width: calc((100% - 30px)/8);
          min-width: -moz-calc((100% - 30px)/8);
          min-width: -webkit-calc((100% - 30px)/8);
          display: flex;
          align-items: center;
          &.hide{
            display: none;
          }
          &:hover{
            .submenu{
              display: block;
            }
          }
          >a {
            display: inline-block;
            line-height: 64px;
            width: 100%;
            text-align: center;
            @include ellipsis;
            color: $menu-font-color;
            &:hover{
              color: $menu-font-hover-color;
            }
          }
          &.active {
            >a {
              color: $menu-font-hover-color;
            }
          }
          .submenu {
            display:none;
            position: absolute;
            z-index: 999;
            top: 65px;
            left:0;
            width: 9.75rem;
            background: $menu-bg;
            border-radius:0 0 .25rem .25rem;
            box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
            border-top: 1px solid $menu-font-hover-color;
            .e_li{
              position: relative;
              &:hover{
                .thr{
                  display: block;
                }
              }
              >a {
                line-height: 50px;
                height: 50px;
                padding-left: 1.25rem;
                width: 100%;
                display: block;
                @include ellipsis;
                color: $menu-font-color;
                &:hover{
                  color: $menu-font-hover-color;
                }
              }
              .thr{
                display: none;
                position: absolute;
                z-index: 999;
                top: -1px;
                right: -9.75rem;
                width: 9.75rem;
                background: $menu-bg;
                border-radius:0 0 .25rem .25rem;
                box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
                border-top: 1px solid $menu-font-hover-color;
                a{
                  line-height: 50px;
                  height: 50px;
                  padding-left: 1.25rem;
                  width: 100%;
                  display: block;
                  @include ellipsis;
                  color: $menu-font-color;
                  &:hover{
                    color: $menu-font-hover-color;
                  }
                }
              }
            }
          }
        }
        .page-down,  .page-up{ 
          height: 64px;
          line-height: 64px;
          padding-right: 15px;
          a {
            color: $menu-font-color;
          }
        }
        .page-down {
          display: none;
        }
        .page-up{
          display: none;
          @include transform(rotate(-180deg));
        }
      }
      .icons {
        display: flex;
        height: 100%;
        .box{
          display: flex;
          align-items: center;
        }
        .icon {
          width: 22px;
          height: 22px;
          border: 1px  solid $icon-border-color;
          border-radius: 11px;
          margin-left: 1.125rem;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          a{
            color: $iconfont-color;
          }
          &:hover{
            border-color: $icon-border-hover-color;
            color: $menu-font-hover-color;
            >a{
              color: $menu-font-hover-color;
              &:hover{
                color: $top-hover-font-color;
              }
            }
          }
        }
        .search{
          position: relative;
          width: 48px;
          text-align: right;
          display: flex;
          justify-content: space-between;
          padding-left: 8px;
          &:hover{
            i {
              color: $hearder-top-bg;
            }
          }
          .line {
            height: 15px;
            width: 1px;
            background: $separator-line-color;
          }
          .search_input {
            position: absolute;
            z-index: 999;
            bottom: -52px;
            right: -7px;
            height: 52px;
            margin-left: 0;
            background-color: $menu-bg;
            width: 243px;
            display: flex;
            align-items: center;
            border-style: solid;
            border-color: $hearder-top-bg;
            border-right-width: 12px;
            border-left-width: 12px;
            border-top-width: 8px;
            border-bottom-width: 8px;
            padding-left: .5rem;
            display: none;
            .input{
              background:transparent;
              outline: none;
              border: none;
              line-height: 100%;
              height: 100%;
              padding: 0 0.5rem 0 .375rem;
              width: 100%;
              &::-webkit-input-placeholder{
                color:$placeholder-color;
              }
              &::-moz-placeholder{
                color:$placeholder-color;
              }
              &:-moz-placeholder{
                color:$placeholder-color;
              }
              &:-ms-input-placeholder{
                color:$placeholder-color;
              }
            }
          }
        }
      }
    }
  }
 
}