
// font
$primary-font-color: #767881;
$active-font-color: #e4493a;
$hover-font-color: #e4493a;
$thin-font-color: #A6A5A5;
$iconfont-color: #a1a1a1;
/************** pc ************/
// header
$primary-header-bg: #ffffff;
$primary-shadow: rgba($color: #000000, $alpha: 0.09);

// all icon(search、 login、 lang、 mail ....)
$primary-icon-border-color: #bfbfbf;
$active-icon-border-color: #e4493a;
$hover-icon-border-color: #e4493a;




/************** mobile ***************/
$primary-mobile-search-bg: #ffffff;
$primary-mobile-nav-bg:#ffffff;
$hover-mobile-navitem-bg:#fafbfc;
$hover-mobile-sub-navitem-bg:#f1f4f7;
$hover-mobile-thr-navitem-bg:#e8edf2;

$primary-mobile-border: #ddd;
$primary-mobile-header-bg: #ffffff;
$primary-mobile-shadow: rgba($color: #000000, $alpha: 0.09);
$placeholder-mobile-color:#BFBFBF;
$primary-m-font-color: #A6A5A5;
$active-m-font-color:#4A4A4A;
$user-m-name-color:#4A4A4A;
$user-m-info-color:#E1E4EC;
