
// font
$primary-font-color: #767881; 
$active-font-color: #e4493a;
$hover-font-color: #e4493a;
$thin-font-color: #A6A5A5;
$iconfont-color: #a1a1a1;

// 白色区域:
// 默认（字体颜色）：#767881;
// Hover（字体颜色）：#e4493a;
// 点击（字体颜色）：#e4493a;
// 红色区域:
// 默认（字体颜色）：#f5beb9;
// Hover（字体颜色）：#ffffff;
// 点击（字体颜色）：#ffffff;
// 7 10 顶部固定。3，4，8顶部不固定
/************** pc ************/
// header
$primary-header-bg: #ffffff;
$primary-shadow: rgba($color: #000000, $alpha: 0.09);
$hearder-top-bg:#E4493A;
$hearder-top-color:#FBDFDC;

// all icon(search、 login、 lang、 mail ....)
$primary-icon-border-color: #bfbfbf;
$active-icon-border-color: #e4493a;
$hover-icon-border-color: #e4493a;
$placeholder-color:#BFBFBF;

