@import './variable.scss';
@import '../../../scss/mixin/index.scss';

@media screen and (min-width: 769px) {
  &.mobile {
    display: none;
  }
  .pc10 {
    .hearder {
      color: $top-font-color;
      font-size: 1.4rem;
      font-size: calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      background-color: $menu-bg;
      box-shadow: 0px .3125rem .625rem $shadow-color;
      width: 100%;
      a{
        color: $top-font-color;
      }
      .iconfont{
        font-size: 12px;
        color: $iconfont-color;
      }
      &__container {
        height: 128px;
        width: 100%;
        background-color: $hearder-top-bg;
      }
      &__container-area{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        height: 128px;
        width: 100%;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        @include flex();
        @include flex-pack-justify();
        @include flex-align-center();
        .right {
          // display: flex;
          // align-items: center;
          // justify-content: flex-end;
          @include flex();
          @include flex-align-center();
          @include flex-pack-end();
          .box{
            margin-left: 1.5rem;
          }
          .lang{
            position: relative;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            @include flex();
            @include flex-align-center();
            @include flex-pack-center();
            height: 48px;
            min-width: 3rem;
            
            &:hover{
              .lang__downlist{
                display: block;
              }
              .lang-contant, .icon-xiala{
                color: $top-hover-font-color;
              }
            }
            .lang-contant {
              font-size: 12px;
            }
            .lang__downlist{
              display: none;
              max-height: 164px;
              position: absolute;
              z-index: 999;
              top: 48px;
              left: 0;
              width: 50px;
              padding: 10px 0;
              background: $hearder-top-bg;
              box-shadow: 1px 1px .9375rem 0 $shadow-color;
              border-radius: .25rem;
              @include  ellipsis();
              overflow-y: scroll;
              z-index: 999;
              &::-webkit-scrollbar {
                width:5px;
                height:9px;
              }
              &::-webkit-scrollbar-thumb {
                background-color:#ddd;
                background-clip:padding-box;
                min-height:28px;
              }
              &::-webkit-scrollbar-thumb:hover {
                background-color:#bbb;
              }
              a {
                color: $top-font-color;
              }
              &-item{
                line-height: 36px;
                text-align: center;
                &:hover{
                  .lang-link{
                    color: $top-hover-font-color;
                  }
                }
                .lang-link{
                  text-align: center;
                }
              }     
            }
          }
          .login{
            position: relative;
            height: 48px;
            min-width: 3rem;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            @include flex();
            @include flex-align-center();
            @include flex-pack-center();
            >a{
              font-size: 12px;
              @include flex();
              @include flex-align-center();
              .sline {
                height: 8px;
                width: 1px;
                background:  $top-font-color;
                margin: 0 4px;
              }
            }
            &:hover{
              .login__downlist, .pull-down{
                display: block;
              }
              a {
                color: $top-hover-font-color;
                .sline {
                  background: $top-hover-font-color;
                }
              }
            }
            .pull-down{
              display: none;
              position: absolute;
              top: 42px;
              left: 23px;
              width: 0;
              height: 0px;
              border-style: solid;
              border-width: 6px;
              border-color: $hearder-top-bg $hearder-top-bg transparent transparent;
              @include transform(rotate(-45deg));
              // box-shadow:5px -5px 10px -4px $shadow-color;
              box-shadow: 5px -5px 10px -1px $shadow-color;
              z-index: 1000;
            }
            .login__downlist{
              display: none;
              position: absolute;
              z-index: 999;
              top: 48px;
              left: -1.2rem;
              width: 110px;
              background: $hearder-top-bg;
              box-shadow: 1px -1px .9375rem 0 $shadow-color;
              border-radius: .25rem;
              @include ellipsis();
              padding: .625rem 15px;
              z-index: 999;
              a {
                color: $top-font-color;
              }
              .line{
                width: 100%;
                height: 1px;
                background: $separator-line-color;
                margin: 3px 0;
              }
              &-item{
                line-height: 36px;
                text-align: left;
                .login-link{
                  text-align: left;
                  // display: flex;
                  // align-items: center;
                  @include flex();
                  @include flex-align-center();
                  color:$top-font-color;
                  &:hover{
                    color: $top-hover-font-color;
                    i{
                      border-color: $icon-border-hover-color;
                    }
                  }
                  &.readonly{
                    &:hover{
                      color: $top-font-color;
                      i{
                        border-color: $icon-border-color;
                      }
                    }
                  }
                  >i{
                    width: 22px;
                    height: 22px;
                    border: 1px solid $icon-border-color;
                    border-radius: 11px;
                    margin-right: .3125rem;
                    display: block;
                    text-align: center;
                    line-height: 22px;
                    color: $iconfont-color;
                  }
                }
              }     
            }
          }
        }
        .left {
          max-width: 12.5rem;
          // display: flex;
          // align-items: center;
          // justify-content: flex-start;
          @include flex();
          @include flex-align-center();;
          @include flex-pack-start();
          .logo {
            max-width: 12.5rem;
            height: 40px;
            img{
              height: 100%;
            }
          }
        }
        .center {
          // flex: 1;
          // display: flex;
          // flex-direction: column;
          // align-items: flex-start;
          margin-left: 20px;
          font-size: 12px;
          @include flex();
          @include flex-1();
          @include flex-v();
          @include flex-align-start();
          .cc {
            max-width: 200px;
            margin-bottom: 5px;
            line-height: 20px;
            @include ellipsis;
            a {
              display: flex;
              align-items: center;
              i {
                padding-right: 3px;
                font-size: 14px;
                color:$top-font-color;
                &.icon-dianhua1 {
                  font-size: 12px;
                }
              }
              span {
                @include ellipsis;
              }
            }
          }
        }
      }
    }
    .subMenu{
      width: 100%;
      z-index: 1;
      background-color: $menu-bg;
      font-size: 1.4rem;
      font-size: calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      box-shadow: 0px .3125rem .625rem $shadow-color;
      &.search-open{
        background-color: $hearder-top-bg;
      }
      .menu {
        position: relative;
        max-width: 1170px;
        margin: 0 auto;
        height: 64px;
        // display: flex;
        flex-wrap: nowrap;
        // align-items: center;
        // justify-content: center;
        @include flex();
        @include flex-align-center();
        @include flex-pack-center();
        &-item {
          position: relative;
          min-width: 9.5%;
          min-width: calc((100% - 60px)/10);
          min-width: -moz-calc((100% - 60px)/10);
          min-width: -webkit-calc((100% - 60px)/10);
          display: flex;
          align-items: center;
          &.hide{
            display: none;
          }
          &:hover{
            .submenu{
              display: block;
            }
            >a {
              color:$menu-font-hover-color;
            }
          }
          >a {
            display: inline-block;
            line-height: 64px;
            width: 100%;
            text-align: center;
            @include ellipsis;
            color: $menu-font-color;
          }
          .submenu {
            display:none;
            position: absolute;
            z-index: 999;
            top: 65px;
            left:0;
            width: 9.75rem;
            background: $hearder-top-bg;
            border-radius:0 0 .25rem .25rem;
            box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
            border-top: 1px solid $top-hover-font-color;
            .e_li{
              position: relative;
              &:hover{
                .thr{
                  display: block;
                }
              }
              >a {
                line-height: 50px;
                height: 50px;
                padding-left: 1.25rem;
                width: 100%;
                display: block;
                @include ellipsis;
                color: $top-font-color;
                &:hover{
                  color: $top-hover-font-color;
                }
              }
              .thr{
                display: none;
                position: absolute;
                z-index: 999;
                top: -1px;
                right: -9.75rem;
                width: 9.75rem;
                background: $hearder-top-bg;
                border-radius:0 0 .25rem .25rem;
                box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
                border-top: 1px solid $top-hover-font-color;
                a{
                  line-height: 50px;
                  height: 50px;
                  padding-left: 1.25rem;
                  width: 100%;
                  display: block;
                  @include ellipsis;
                  color: $top-font-color;
                  &:hover{
                    color: $top-hover-font-color;
                  }
                }
              }
            }
          }
        }
        .page-down, .page-up{ 
          height: 64px;
          line-height: 64px;
          width: 30px;
          a {
            height: 64px;
            line-height: 64px;
            width: 30px;
            // display: flex;
            @include flex();
            @include flex-pack-center();
          }
          &:hover{
            i {
              color: $menu-font-hover-color;
            }
          }
          i {
            color: $menu-font-color;
          }
        }
        .page-down {
          display: none;
          a {
            // justify-content: flex-start;
            @include flex-pack-start();
          }
        }
        .page-up{
          display: none;
          @include transform(rotate(-180deg));
          a {
            // justify-content: flex-end;
            @include flex-pack-end();
          }
        }
      }
      .icons {
        // display: flex;
        @include flex();
        height: 100%;
        .box{
          // display: flex;
          // align-items: center;
          @include flex();
          @include flex-align-center();
        }
        .icon {
          width: 22px;
          height: 22px;
          border: 1px  solid $icon-border-color;
          border-radius: 11px;
          margin-left: 1.125rem;
          text-align: center;
          // display: flex;
          // align-items: center;
          // justify-content: center;
          @include flex();
          @include flex-align-center();
          @include flex-pack-center();
          cursor: pointer;
          a{
            color: $iconfont-color;
          }
          &:hover{
            border-color: $icon-border-hover-color;
            color: $top-hover-font-color;
            >a{
              color: $top-hover-font-color;
              &:hover{
                color: $top-hover-font-color;
              }
            }
          }
        }
        .search{
          width:30px;
          text-align: right;
          // display: flex;
          // justify-content: flex-end;
          @include flex();
          @include flex-pack-end();
          >i {
            color: $menu-font-color;
          }
          &:hover {
            >i {
              color: $menu-font-hover-color;
            }
          }
          .search_input {
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0;
            height: 64px;
            background-color: $hearder-top-bg;
            width: 100%;
            display: none;
            >div {
              // display: flex;
              // justify-content: space-between;
              // align-items: center;
              @include flex();
              @include flex-align-center();
              @include flex-pack-justify();
              width: 100%;
              height: 100%;
              border-top: 1px solid $separator-line-color;
              .search-btn{
                cursor: pointer;
                border: 0;
                display:block;
                background:transparent;
                width: 30px;
                height: 64px;
                line-height: 64px;
                text-align: left;
                &:focus{
                  border: 0;
                  outline: none;
                  background:transparent;
                }
                &:hover{
                  i {
                    color: $top-hover-font-color;
                  }
                }
                i {
                  font-size: 16px;
                }
              }
              .icon-guanbi{
                font-size: 16px;
                width: 30px;
                height: 64px;
                line-height: 64px;
                text-align: right;
              }
              .line {
                width: 1px;
                height: 15px;
                background-color: $separator-line-color;
              }
              .input{
                // flex: 1;
                @include flex-1();
                background:transparent;
                outline: none;
                border: none;
                line-height: 100%;
                height: 100%;
                padding: 0 0.5rem 0 .375rem;
                font-size:100%;
                &::-webkit-input-placeholder{
                  color:$placeholder-color;
                }
                &::-moz-placeholder{
                  color:$placeholder-color;
                }
                &:-moz-placeholder{
                  color:$placeholder-color;
                }
                &:-ms-input-placeholder{
                  color:$placeholder-color;
                }
              }
            }
          }
        }
      }
    }
  }
 
}