@import './variable.scss';
@import './pc.scss';

html {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}
/* 自定义字体*/
// @font-face {
//   font-family: 'Glyphicons Halflings';
//   src: url('');
// }
body{
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
}
:root {
  font-size: 10px;
}
.main {
  overflow-y: scroll;
  &.pc-main{
    width: 100%; 
    position: relative;
    padding-top: 64px;
  }
  &.mobile-main{
    padding: 0 0.625rem;
  }
  .main-body{
    max-width: 1170px;
    margin: 0 auto;
  }
}