@import './variable.scss';


@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}
@media screen and (min-width: 768px) {
  &.mobile {
    display: none;
  }
  //滚动条的设置
  ::-webkit-scrollbar {
    width:5px;
    height:9px;
  }
  ::-webkit-scrollbar-thumb {
    background-color:#ddd;
    background-clip:padding-box;
    min-height:28px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color:#bbb;
  }
  .pc {
    background-color: $bg;
    height: 100%;
    width: 100%;
    max-width: 1170px;
    position: relative;
    padding-top: 64px;
    padding: 64px 5% 0;
    margin: 0 auto;
  }
  .hearder {
    color: $primary-font-color;
    font-size: calc(1rem + (2 - 1) * ((100vw - 768px)/ (1200 - 800)));
    background-color: $primary-header-bg;
    box-shadow: 0px .3125rem .625rem $primary-shadow;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 1170px;
    a{
      color: $primary-font-color;
      &:hover{
        color:$active-font-color;
      }
    }
    .iconfont{
      font-size: 100%;
    }
    &__container{
      padding: 0 5%;
      margin: 0 auto;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        max-width: 12.5rem;
        height: 40px;
        margin-right: 15px;
        img{
          height: 100%;
        }
      }
      .menu {
        flex:1;
        height: 100%;
        max-width: 70%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content:flex-end;
        &-item {
          padding: 0 .5rem;
          position: relative;
          min-width: 12.5%;
          &.hide{
            display: none;
          }
          &:hover{
            .submenu{
              display: block;
            }
          }
          >a {
            display: inline-block;
            line-height: 64px;
            width: 100%;
            text-align: center;
            @include ellipsis;
            color: $primary-font-color;
            &:hover{
              color: $active-font-color;
            }
          }
          &.active {
            >a {
              color: $active-font-color;
            }
          }
          .submenu {
            display:none;
            position: absolute;
            top: 65px;
            left:0;
            width: 9.75rem;
            background: #fff;
            border-radius:0 0 .25rem .25rem;
            box-shadow:0 1.25rem 2.5rem .625rem $primary-shadow;
            border-top: 1px solid $active-font-color;
            .e_li{
              position: relative;
              &:hover{
                .thr{
                  display: block;
                }
              }
              >a {
                line-height: 50px;
                height: 50px;
                padding-left: 1.25rem;
                width: 100%;
                display: block;
                @include ellipsis;
              }
              .thr{
                display: none;
                position: absolute;
                top: -0.0625rem;
                right: -9.75rem;
                width: 9.75rem;
                background: #fff;
                border-radius:0 0 .25rem .25rem;
                box-shadow:0 1.25rem 2.5rem .625rem $primary-shadow;
                border-top: 1px solid $active-font-color;
                a{
                  line-height: 50px;
                  height: 50px;
                  padding-left: 1.25rem;
                  width: 100%;
                  display: block;
                  @include ellipsis;
                }
              }
            }
          }
        }
        .page-down {
          display: none;
        }
        .page-up{
          display: none;
          @include transform(rotate(-180deg));
        }
      }
      .icons {
        display: flex;
        height: 100%;
        margin-left: 15px;
        .box{
          display: flex;
          align-items: center;
        }
        .icon {
          width: 26px;
          height: 26px;
          border: .0625rem  solid $primary-icon-border-color;
          border-radius: 50vw;
          margin-left: 1.125rem;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          a{
            color: $primary-font-color;
          }
          &:hover{
            border-color: $active-icon-border-color;
            color: $active-font-color;
            >a{
              color: $active-font-color;
            }
          }
        }
        .search{
          position: relative;
          .search_input {
            position: absolute;
            top: 19px;
            bottom: 0;
            right: 0;
            line-height: 26px;
            height: 26px;
            margin-left: 0;
            background-color: $primary-header-bg;
            width: 8.75rem;
            display: flex;
            align-items: center;
            border: .0625rem  solid $primary-icon-border-color;
            border-radius: 50vh;
            padding-left: .5rem;
            display: none;
            .input{
              background:transparent;
              outline: none;
              border: none;
              line-height: 1.65rem;
              padding: 0 1.5rem 0 .375rem;
              width: 6.5rem;
            }
            .search-btn{
              position: absolute;
              top: 0;
              right: 0;
              cursor: pointer;
              width: 26px;
              line-height: 26px;
              border: 0;
              display:block;
              background:transparent;
              &:focus{
                border: 0;
                outline: none;
                background:transparent;
              }
              i {
                font-size: 16px;
              }
              &:hover{
                i {
                  font-size: 16px;
                  color: $active-font-color;
                }
              }
            } 
          }
        }
        .lang{
          position: relative;
          &:hover{
            .lang__downlist{
              display: block;
            }
          }
          .lang__downlist{
            display: none;
            max-height: 164px;
            position: absolute;
            top: 54px;
            left: 0;
            width: 3.9375rem;
            padding: 10px 0;
            background:$primary-header-bg;
            box-shadow: .0625rem .0625rem .9375rem 0 $primary-shadow;
            border-radius: .25rem;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            overflow-y: scroll;
            &-item{
              line-height: 36px;
              text-align: center;
              &:hover{
                .lang-link{
                  color: $active-font-color;
                }
              }
              .lang-link{
                text-align: center;
              }
            }     
          }
        }
        .login{
          position: relative;
          &:hover{
            .login__downlist, .pull-down{
              display: block;
            }
          }
          .pull-down{
            display: none;
            position: absolute;
            top: 31px;
            right: calc(8.5rem/2 - 1.6rem - 4px);
            width: 0;
            height: 0px;
            border-style: solid;
            border-width: 6px;
            border-color: #fff #fff transparent transparent;
            transform: rotate(-45deg);
            box-shadow: .0625rem -.0625rem .0925rem $primary-shadow;
            z-index: 999;
          }
          .login__downlist{
            display: none;
            position: absolute;
            top: 36px;
            right: -1.6rem;
            width: 8.5rem;
            background:$primary-header-bg;
            box-shadow: .0625rem -.0625rem .9375rem 0 $primary-shadow;
            border-radius: .25rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: .625rem 20px;
            .line{
              width: 100%;
              height: 1px;
              background: #bbb;
              margin: 3px 0;
            }
            &-item{
              line-height: 36px;
              text-align: left;
              .login-link{
                text-align: left;
                display: flex;
                align-items: center;
                &:hover{
                  color: $active-font-color;
                  i{
                    border-color: $hover-icon-border-color;
                  }
                }
                >i{
                  width: 1.375rem;
                  height: 1.375rem;
                  border: .0625rem solid $primary-icon-border-color;
                  border-radius: .75rem;
                  margin-right: .3125rem;
                  display: block;
                  text-align: center;
                  line-height: 1.375rem;
                }
              }
            }     
          }
        }
      }
    }
  }
}