@import './variable.scss';
@import '../../../scss/mixin/index.scss';

@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}
@media screen and (min-width: 769px) {
  &.mobile {
    display: none;
  }
  .pc1 {
    .hearder {
      color: $menu-font-color;
      font-size: 1.4rem;
      font-size: calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -moz-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      font-size: -webkit-calc(1.4rem + (2 - 1.4) * ((100vw - 768px)/ (1200 - 800)));
      background-color: $menu-bg;
      box-shadow: 0px .3125rem .625rem $shadow-color;
      position: fixed;
      z-index: 5;
      top: 0px;
      left: 0px;
      width: 100%;
      a{
        color: $menu-font-color;
      }
      .iconfont{
        font-size: 12px;
      }
      &__container{
        max-width: 1170px;
        margin: 0 auto;
        height: 64px;
        @include flex();
        @include flex-align-center();
        @include flex-pack-justify();
        .logo {
          max-width: 12.5rem;
          height: 40px;
          img{
            height: 100%;
          }
        }
        .menu {
          flex:1;
          height: 100%;
          @include flex();
          flex-wrap: nowrap;
          @include flex-align-center();
          @include flex-pack-end();
          padding: 0 15px;
          &-item {
            padding: 0 .5rem;
            position: relative;
            min-width: 12.2%;
            min-width: calc((100%-20px)/8);
            min-width: -moz-calc((100%-20px)/8);
            min-width: -webkit-calc((100%-20px)/8);
            @include flex();
            @include flex-align-center();
            &.hide{
              display: none;
            }
            &:hover{
              .submenu{
                display: block;
              }
            }
            >a {
              display: inline-block;
              line-height: 64px;
              width: 100%;
              text-align: center;
              @include ellipsis;
              color: $menu-font-color;
              &:hover{
                color: $menu-font-hover-color
              }
            }
            &.active {
              >a {
                color: $menu-font-hover-color
              }
            }
            .submenu {
              display:none;
              position: absolute;
              top: 65px;
              left:0;
              width: 9.75rem;
              background: $menu-bg;
              border-radius:0 0 .25rem .25rem;
              box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
              border-top: 1px solid $menu-font-hover-color;
              z-index: 999;
              .e_li{
                position: relative;
                &:hover{
                  >a {
                    color: $menu-font-hover-color;
                  }
                  .thr{
                    display: block;
                  }
                }
                >a {
                  line-height: 50px;
                  height: 50px;
                  padding-left: 1.25rem;
                  width: 100%;
                  display: block;
                  @include ellipsis;
                }
                .thr{
                  display: none;
                  position: absolute;
                  top: -1px;
                  right: -9.75rem;
                  width: 9.75rem;
                  background: $menu-bg;
                  border-radius:0 0 .25rem .25rem;
                  box-shadow:0 1.25rem 2.5rem .625rem $shadow-color;
                  border-top: 1px solid $menu-font-hover-color;
                  z-index: 999;
                  li:hover{
                    a {
                      color: $menu-font-hover-color;
                    }
                  }
                  a{
                    line-height: 50px;
                    height: 50px;
                    padding-left: 1.25rem;
                    width: 100%;
                    display: block;
                    @include ellipsis;
                  }
                }
              }
            }
          }
          .page-down, .page-up {
            height: 64px;
            line-height: 64px;
            width: 20px;
            a {
              height: 64px;
              line-height: 64px;
              width: 20px;
              @include flex();
            }
            &:hover{
              i {
                color: $menu-font-hover-color;
              }
            }
            i {
              color: $menu-font-color;
            }
          }
          .page-down {
            display: none;
          }
          .page-up{
            display: none;
            @include transform(rotate(-180deg));
          }
        }
        .icons {
          @include flex();
          height: 100%;
          .box{
            @include flex();
            @include flex-align-center();
          }
          .icon {
            width: 22px;
            height: 22px;
            border: 1px  solid $icon-border-color;
            border-radius: 11px;
            margin-left: 1.125rem;
            text-align: center;
            @include flex();
            @include flex-align-center();
            @include flex-pack-center();
            cursor: pointer;
            >a{
              color: $iconfont-color;
            }
            >i.icon-sousuo {
              color:$iconfont-color;
            }
            &:hover{
              border-color: $icon-border-hover-color;
              color: $menu-font-hover-color;
              >a{
                color: $menu-font-hover-color;
                &:hover{
                  color: $menu-font-hover-color;
                }
              }
              >i.icon-sousuo {
                color:$menu-font-hover-color;
              }
            }
          }
          .search{
            position: relative;
            .search_input {
              position: absolute;
              top: 21px;
              bottom: 0;
              right: 0;
              z-index: 999;
              height: 22px;
              margin-left: 0;
              background-color: $menu-bg;
              width: 8.75rem;
              @include flex();
              @include flex-align-center();
              border: 1px  solid $icon-border-color;
              border-radius: 10px;
              padding-left: .5rem;
              display: none;
              .input{
                background:transparent;
                outline: none;
                border: none;
                line-height: 100%;
                height: 100%;
                padding: 0 1.5rem 0 .375rem;
                width: 6.5rem;
              }
              .search-btn{
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                width: 20px;
                line-height: 20px;
                border: 0;
                display:block;
                background:transparent;
                z-index: 999;
                &:focus{
                  border: 0;
                  outline: none;
                  background:transparent;
                }
                i {
                  color:$iconfont-color;
                }
                &:hover{
                  i {
                    color: $menu-font-hover-color;
                  }
                }
              } 
            }
          }
          .lang{
            position: relative;
            &:hover{
              .lang__downlist{
                display: block;
              }
            }
            .lang-contant {
              font-size: 12px;
            }
            .lang__downlist{
              display: none;
              max-height: 164px;
              position: absolute;
              top: 54px;
              left: 0;
              z-index: 999;
              width: 50px;
              padding: 10px 0;
              background:$menu-bg;
              box-shadow: 1px 1px .9375rem 0 $shadow-color;
              border-radius: .25rem;
              @include ellipsis;
              overflow-y: scroll;
              //滚动条的设置
              &::-webkit-scrollbar {
                width:5px;
                height:9px;
              }
              &::-webkit-scrollbar-thumb {
                background-color:#ddd;
                background-clip:padding-box;
                min-height:28px;
              }
              &::-webkit-scrollbar-thumb:hover {
                background-color:#bbb;
              }
              &-item{
                line-height: 36px;
                text-align: center;
                &:hover{
                  .lang-link{
                    color: $menu-font-hover-color;
                  }
                }
                .lang-link{
                  text-align: center;
                }
              }     
            }
          }
          .login{
            position: relative;
            &:hover{
              .login__downlist, .pull-down{
                display: block;
              }
            }
            .pull-down{
              display: none;
              position: absolute;
              top: 31px;
              right: 0.62rem;
              right: calc(8.5rem/2 - 3.6rem - 4px);
              right: -moz-calc(8.5rem/2 - 3.6rem - 4px);
              right: -webkit-calc(8.5rem/2 - 3.6rem - 4px);
              width: 0;
              height: 0px;
              border-style: solid;
              border-width: 6px;
              border-color: $menu-bg $menu-bg transparent transparent;
              transform: rotate(-45deg);
              box-shadow: 1px -10px 1.4rem $shadow-color;
              z-index: 1000;
            }
            .login__downlist{
              display: none;
              position: absolute;
              top: 36px;
              right: -1.6rem;
              width: 100px;
              z-index: 999;
              background:$menu-bg;
              box-shadow: 1px -1px .9375rem 0 $shadow-color;
              border-radius: .25rem;
              @include ellipsis;
              padding: .625rem 15px;
              .line{
                width: 100%;
                height: 1px;
                background: $separator-line-color;
                margin: 3px 0;
              }
              &-item{
                line-height: 36px;
                text-align: left;
                .login-link{
                  text-align: left;
                  @include flex();
                  @include flex-align-center();
                  color:$menu-font-color;
                  &:hover{
                    color: $menu-font-hover-color;
                    i{
                      border-color: $icon-border-hover-color;
                    }
                  }
                  &.readonly{
                    &:hover{
                      color: $menu-font-color;
                      i{
                        border-color: $icon-border-color;
                      }
                    }
                  }
                  >i{
                    width: 22px;
                    height: 22px;
                    border: 1px solid $icon-border-color;
                    border-radius: 11px;
                    margin-right: .3125rem;
                    display: block;
                    text-align: center;
                    line-height: 22px;
                  }
                }
              }     
            }
          }
        }
      }
    }
  }
 
}