// font-color
$primary-font-color: #767881;  // 全局默认字体色
$hover-font-color: #e4493a; // 默认hover字体色

// $menu-font-color:#767881; ; //导航栏字体色
// $menu-font-hover-color:#e4493a;; //导航栏字体hover色

// $header-top-font-color:#FBDFDC; //顶部字体色
// $header-top-font-hover-color:#ffffff; //顶部字体hover色

$iconfont-color: #a1a1a1; // 图标字体色

// bg-color
$header-bg: #ffffff; // 头部整体背景色
// $hearder-top-bg:#E4493A; // 顶部背景色

// border-color
$icon-border-color: #bfbfbf;
$icon-border-hover-color: #e4493a;


// shadow-color
$shadow-color: rgba($color: #000000, $alpha: 0.09);

// other
$separator-line-color:#eaeaea; // 分割线颜色
$placeholder-color:#BFBFBF; // input提示语颜色
