
// font
$primary-font-color: #2D303D;
$active-font-color: #1F94FF;
$hover-font-color: #1F94FF;
$thin-font-color: #A6A5A5;
/************** pc ************/
// header
$primary-header-bg: #ffffff;
$primary-shadow: rgba($color: #000000, $alpha: 0.09);
$placeholder-color:#BFBFBF;
// nav
$primary-nav-bg: #ffffff;
// nav-item
$active-navitem-bg: #1F94FF;
$hover-navitem-bg: #1F94FF;


// all icon(search、 login、 lang、 mail ....)
$primary-icon-bg: #2D303D;
$active-icon-bg: #1F94FF;
$hover-icon-bg: #1F94FF;




/************** mobile ***************/
$primary-mobile-search-bg: #ffffff;
$primary-mobile-nav-bg:#ffffff;
$hover-mobile-navitem-bg:#eee;
$hover-mobile-sub-navitem-bg:#ddd;
$hover-mobile-thr-navitem-bg:#ccc;
$primary-mobile-border: #ddd;
$primary-mobile-header-bg: #ffffff;
$primary-mobile-shadow: rgba($color: #000000, $alpha: 0.09);