
// font
$primary-font-color: #767881;
$active-font-color: #e4493a;
$hover-font-color: #e4493a;
$thin-font-color: #A6A5A5;
/************** pc ************/
// header
$primary-header-bg: #ffffff;
$primary-shadow: rgba($color: #000000, $alpha: 0.09);

// all icon(search、 login、 lang、 mail ....)
$primary-icon-border-color: #C0C1C5;
$active-icon-border-color: #e4493a;
$hover-icon-border-color: #e4493a;




/************** mobile ***************/
$primary-mobile-search-bg: #ffffff;
$primary-mobile-nav-bg:#ffffff;
$hover-mobile-navitem-bg:#eee;
$hover-mobile-sub-navitem-bg:#ddd;
$hover-mobile-thr-navitem-bg:#ccc;
$primary-mobile-border: #ddd;
$primary-mobile-header-bg: #ffffff;
$primary-mobile-shadow: rgba($color: #000000, $alpha: 0.09);
$placeholder-mobile-color:#BFBFBF;